<section id="ourteam" class="container content-section text-center">
    <div class="row">
        <!-- GLENN CLARK-->
        <div class="col-lg-6">
            <img class="aboutImages" src="../img/aboutimages/glennClark.png" />
            <h3 style="padding-bottom: 1%; ">Glenn Clark</h3>
            <p style="padding-left: 5%; padding-right: 5%;">General Manager of Aetos Machine, and head developer on the screens provided to clients of SA Concepts. He has spent years working on a number of new developments in the machine shop environment, his experience has allowed him to work with percision on new groundbreaking ideals. </p>
        </div>
        <!-- SARAH CLARK-->
        <div class="col-lg-6">
            <img class="aboutImages" src="../img/aboutimages/sarahClark.png" />
            <h3 style="padding-bottom: 1%; ">Sarah Clark</h3>
            <p style="padding-left: 5%; padding-right: 5%;">Owner of SA Concepts, Sarah is leading the way in the market providing products to shops all around the country. Her extensive background in hands-on management with Aetos Machine, she is the perfect leader for this company to be successful on an interpersonal and technical expert level. </p>
        </div>
        <!-- CHRIS SIMONS-->
        <div class=" col-lg-offset-3 col-lg-6">
            <img class="aboutImages" src="../img/aboutimages/chrisSimons.png" />
            <h3 style="padding-bottom: 1%; ">Chris Simons</h3>
            <p style="padding-left: 5%; padding-right: 5%;">Providing creative customer-focused solutions for a number of businesses in the Dayton Area, Chris has been a key player in managing the marketing side of Aetos Machine, and is currently the head of marking for all things sales. His experience in the past has done nothing but benefit him in this emerging company. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 page-spacer">

        </div>
    </div>
</section> 
<section id="location" class="content-section container-fluid">
    <div class="row background-grey">
        <div class="col-lg-12 locationHeader" style="text-align: center">
            <h2> Our Location</h2>
        </div>
    </div>
    <div class="row background-grey">
        <div class="col-lg-6 col-lg-offset-3" style="text-align: center">
            <img src="../img/icons/home.png" width="10%" />
            <h3> Small Business experts</h3><p>Because we are a small business located in Xenia, Ohio we understand the needs and pressures of small business working well with other small comapnies that are looking to improve the tools they use to provide reliable services to the clients they serve. </p>
            <div class="locationButton" >
                <a href="https://maps.google.com" ><p class="locationLink"style="padding-top: 5px;">Find Us on Google Maps</p></a>
            </div>
        </div>
    </div>
</section> 