    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <img class="aboutIcon" src="../img/icons/database.png" />
              <h2>Our Products and Their Impact</h2>
              <br/>
                <p>Below is a small catalog of the parts we make and their contributions to larger brands and products. For more information on any of the products listed, please contact us through the link below. If you need a part that is not listed, feel free to reach out to us. We are constantly looking to provide new parts and take on new, challenging ventures.</p>
                <br/>
                <div class="aboutButton">
                        <p style="padding-top: 5px;"><a href="/contact/" class="aboutLink">Contact Us</a> </p>
                </div>
              </div>
        </div>
    </section>
