<section id="products" class="container content-section text-center">
    <!-- Product #1      -->
    <div class="row background-grey">
        <div class="col-lg-6 productDescriptions">
            <h2 class="productHeaders"> Chillsonator Roll Seal </h2>
            
        </div>
        <div class="col-lg-6" >
            <img class="productImage1" src="../img/productImages/Chilsonator Roll Seal11.png" />
        </div>
    </div>
    <!-- Product #2      -->
    <div class="row">
        <div class="col-lg-6" >
            <img class="productImage2" src="../img/productImages/Rotery Hammers11.png" />
        </div>
        <div class="col-lg-6 productDescriptions" >
            <h2 class="productHeaders"> Rotery Hammers </h2>
            
        </div>
    </div>
    <!-- Product #3      -->
    <div class="row background-grey">
        <div class="col-lg-6 productDescriptions" >
            <h2 class="productHeaders"> Chillsonator Hood </h2>
            
        </div>
        <div class="col-lg-6" >
            <img class="productImage3" src="../img/productImages/Chilsanator Hood11.png" />
        </div>
        
    </div>
    <!-- Product #4      -->
    <div class="row">
            <div class="col-lg-6" >
                <img class="productImage4" src="../img/productImages/Chilsanato PreBrake Blades11.png" />
            </div>
            <div class="col-lg-6 productDescriptions" >
                <h2 class="productHeaders"> Chillsonator PreBrake Blades </h2>
                
            </div>
    
    </div>
    <div class="row">
        <div class="col-lg-12 spacerBox">

        </div>
    </div>


</section>