    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <img class="aboutIcon" src="../img/icons/innovation.png" />
              <h2>Innovative Mill Systems</h2>
              <br/>
                <p>Developed by a small team in Xenia, OH, SA Concepts design, engineer, and build Mill parts.  Specializing in screens designed for small to large mills around the world - all 100% USA Made and sourced to virtually any location. Our products will increase your production by up to 30% per hour! A number of companies are looking for more efficient and money-saving solutions to their everyday workflow, and this is exactly that. Use parts built by a team that you can count on!</p>
                <br/>
                <div class="aboutButton">
                        <p style="padding-top: 5px;"><a href="/product/" class="aboutLink">Our Team</a> </p>
                </div>
              </div>
        </div>
    </section>
